@import url(/css/boxFX.css);
@import url(/style.css);
:root {
    --accent-color: #5ab732;
    --primary-bg: #0a0a0a;
    --secondary-bg: #121212;
    --terciary-bg: #1e1e1e;
    --light-bg: #ddeedd;
    --grey: #bbbbbb;
    --accent-text: #88cc88;
    --border-color: #333333;
    --alert-color: #ff6666;
    --white-text: #e5e5e5;
    /* --white-text: whitesmoke; */
    --green-gradient: linear-gradient(to right bottom, #c5d773, #a1bf5f, #7ea64c, #5b8f3a, #38772a);
    --header-height: 100px;
}

/* layout change */
@media screen and (max-width: 1150px) {
    .page-nav > ul {
        gap: 60px;
    }

    .hero-content {
        gap: 0;
        justify-content: space-evenly;
    }

    .hero-image {
        width: 70%;
        height: 100%;
        background-image: url(../assets/clear-def-team-collaboration.svg);
    }
    .hero-section {
        grid-template-columns: 100%;
        grid-template-rows: minmax(auto, 1fr) 2fr 3fr;
        grid-template-areas: 
        "title"
        "hero-right"
        "hero-left"
        ;
    }
    .hero-title {
        font-size: 50px;
    }
    .boxFX_wrapper::after {
        display: none;
    }
    .boxFX_wrapper::before {
        padding: 0;
        border-radius: 10px;
        background: #5ab732;
        transform: none;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
    }
    .boxFX {
        background: none;
        color: white;
    }
    .hero-description {
        font-size: 18px;
        gap: 50px;
    }
}

@media screen and (max-width: 950px) {
    .logo {
        width: 100%;
        gap: 10px;
        justify-content: center;
    }
    .logo > h1 {
        font-size: 25px;
    }
    /* .page-nav > ul {
        gap: 35px;
    } */
    .hero-header {
        height: auto;
        padding: 0;
        /* justify-content: center; */
    }
    .page-nav {
        display: none;
    }
}

/* mobile layout */

 @media screen and (max-width: 650px) {

    .hero-title {
        font-size: 40px;
    }

    .hero-image {
        background-image: url(../assets/vertical-chat.svg);
    }

    .hero-description {
        gap: 20px;
    }
    /* .hero-description {
        font-size: 12px;
    } */
 }
/*
    .hero-section {
        grid-template-rows: minmax(auto, 1fr) 3fr;
        grid-template-areas: 
        "title"
        "hero-left"
        ;
    }

    // vamos a quitar la imagen 
    .hero-image {
        display: none;
    }

} */