@import url(css/boxFX.css);
@import url(css/utilities.css);
:root {
    --accent-color: #5ab732;
    --primary-bg: #0a0a0a;
    --secondary-bg: #121212;
    --terciary-bg: #1e1e1e;
    --light-bg: #ddeedd;
    --grey: #bbbbbb;
    --accent-text: #88cc88;
    --border-color: #333333;
    --alert-color: #ff6666;
    --white-text: #e5e5e5;
    /* --white-text: whitesmoke; */
    --green-gradient: linear-gradient(to right bottom, #c5d773, #a1bf5f, #7ea64c, #5b8f3a, #38772a);
    --header-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .icons > * {
    --ionicon-stroke-width: 40px;
} */

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--light-bg); */
    background-image: url(assets/repeating-triangles.svg);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    user-select: none;
}

.hero-header {
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
    padding-left: 25px;
    padding-right: 50px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logo {
    display: flex;
    gap: 30px;
    align-items: center;
} */

.header-logo{
    width: var(--header-height);
}

h1 {
    text-align: left;
    margin-left: 30px;
    display: inline;
    font-weight: 500;
    font-family: "Montserrat Alternates", sans-serif;
    color: var(--border-color);
    flex-grow: 1;
}

.page-nav {
    margin-right: 20px;
}

.page-nav > ul{
    list-style-type: none;
    display: flex;
    gap: 105px;
}

.page-nav a {
    color: var(--border-color);
    transition: all .3s ease;
    position: relative;
    font-weight: 500;
}

.page-nav a:hover {
    color: var(--accent-color)
}

.page-nav a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
}

.page-nav a:hover::before {
    width: 100%;
}

.hero-bars {
    display: none;
}

.hero-icon {
    font-size: 18px;
    color: var(--border-color);
}

 main {
    padding-top: var(--header-height);
     
   /* position: relative;
    top: var(--header-height);
    background-image: url(/src/assets/pattern-randomized.svg); */
}

.hero-section {
    min-height: calc(100dvh - var(--header-height));
    max-height: calc(100dvh - var(--header-height));
    /* background-image: url(assets/repeating-triangles.svg);
    background-size: 2000px; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 1fr) 3fr;
    grid-template-areas: 
        "title title"
        "hero-left hero-right"
    ;
    column-gap: 100px;
}

.hero-title {
    color: var(--accent-color);
    text-align: center;
    font-size: 65px;
    font-family: "Michroma", serif;
    font-weight: 900;
    text-shadow: 2px 2px 10px #9c68b9;
    grid-area: title;
}

.hero-content {
    /* padding-bottom: 20px; */
    width: 80%;
    height: 100%;
    grid-area: hero-left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.hero-image {
    height: 90%;
    width: 90%;
    background-image: url(assets/vertical-chat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: hero-right;
}

.hero-description {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-button {
    text-align: center;
    display: inline-block;
    border-radius: 45px;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 2px solid var(--border-color);
    background-color: var(--accent-color);
    font-size: 15px;
    font-weight: bold;
    color: white;
    /*For hover transition*/
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 5px 10px 10px #174e50;
}

.hero-button:hover {
    filter: opacity(.7);
}

.hero-button:active {
    transform: translateY(4px); /* Mueve el botón hacia abajo cuando se hace clic */
    box-shadow: none; /* Aumenta la sombra para simular el aterrizaje */
}

/* .hero-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all .5s ease;
    z-index: -1;
    transform: translateX(-100%);
}

.hero-button:hover::before {
    transform: translateX(0);
} */

.hero-button:hover {
    cursor: pointer;
    /* color: var(--accent-color); */
}

.subject-section {
    --title-spacing: 60px;
    padding-top: var(--title-spacing);
    margin: 0 auto;
    scroll-margin-top: var(--header-height);
    min-height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subject-title {
    font-size: 50px;
    color: white;
    font-family: "Michroma", "serif";

} 

.subject-grid {
    list-style-type: none;
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 50px;
    justify-content: center;
    margin-top: var(--title-spacing);
}

.subject {
    max-width: 100%;
    height: fit-content;
    border-radius: 25px;
    filter: opacity(.75);
    transition: all .3s ease;
}

.subject:hover {
    filter: opacity(1);
}
.subject-picture {
    border-radius: inherit;
    max-width: 100%;
}

